@charset "utf-8";
/* CSS Document */

body {
 background-color: #9BEFF7;
 background-image: url("../images/Stationery_Pencils_Sheet_of_paper_551929_1280x853 blur.jpg");
	
}

.containertopnav {
	width: 100%;
	background-color: #444343;
	font-size: 20px;
	padding: 10px;
}



.containertopnav a{
	font-size: 15px;
	color: aliceblue;
}

.containertopnav a button{
	font-size: 15px;
	border-radius: 20px;
	padding: 10px;
}

.containertopnav a:hover{
	color: #929292;
}

.containeraboutus {
	background-color: #444343;
	font-size: 20px;
	padding: 40px;
	margin: 20px;
	color: aliceblue;
	border-radius: 20px;
}

.containerproducts {
	background-color: #ffffff;
	font-size: 20px;
	padding: 40px;
	margin: 20px;
	border-radius: 20px;	
}

.containercategory {
	background-color: #444343;
	font-size: 20px;
	padding: 40px;
	margin: 20px;
	color: aliceblue;
	border-radius: 20px;
}

.containercarousel {
	width: 100%;
}

.containeradminmenu1 {
	background-color: #2177B8;
	color: #FFFFFF;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
	margin-bottom: 30px;
}

.containeradminmenu2 {
	background-color: #A70000;
	color: #FFFFFF;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
	margin-bottom: 30px;
}

.containeradminmenu3 {
	background-color: #00AA5B;
	color: #FFFFFF;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
	margin-bottom: 30px;
}

.containeradminmenu4 {
	background-color: #7800A6;
	color: #FFFFFF;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
	margin-bottom: 30px;
}

.containeradminmenu5 {
	background-color: #349DFF;
	color: #FFFFFF;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
	margin-bottom: 30px;
}

.containeradminmenu6 {
	background-color: #CF6903;
	color: #FFFFFF;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
	margin-bottom: 30px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #175039;
  border-radius:5px;
  box-sizing: border-box;
}

input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #175039;
  border-radius:5px;
  box-sizing: border-box;
}

input[type=date] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #175039;
  border-radius:5px;
  box-sizing: border-box;
}

input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: flex;
  border: 1px solid #175039;
  border-radius:5px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius:5px;
  box-sizing: border-box;
  color:#FFFFFF;
  background-color:#000000;
}

textarea[name="remarks"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: flex;
  border: 1px solid #175039;
  border-radius:5px;
  box-sizing: border-box;
}

input[value=submit] {
	border: 1px solid #ccc;
  	box-sizing: border-box;
	width: 70;
	
}

button[type=submit]{
	background-color: #000000;
	border: 1px solid #ccc;
  	box-sizing: border-box;
	width: 70;
	color: #ffffff;
	
}

button[type=submit]:hover{

	color: #ffffff;
	
}
	
p{
	font-size: 15px;
}

